argcomplete==1.6.0
beautifulsoup4==4.5.1
blessings==1.6
chardet==2.3.0
common==0.1.2
docopt==0.6.2
docx2txt==0.6
EbookLib==0.15
funcy==1.7.2
hexdump==3.3
intervaltree==2.1.0
linkedlist==2.0.0
lxml==3.6.4
pdfminer.six==20160614
Pillow==3.4.2
protlib==1.4
pyebook==1.11
PyPDF2==1.26.0
PyQt5==5.7
pyqt5-installer==5.7.0
python-poppler-qt5==0.24.2
python-pptx==0.6.1
python-pyqt5-hexview==0.4.3
requests==2.12.1
sip==4.18.1
six==1.10.0
sortedcontainers==1.5.4
SpeechRecognition==3.5.0
textract==1.5.0
Wand==0.4.4
wget==3.2
wxPython-common==3.0.2.0
xlrd==1.0.0
XlsxWriter==0.9.3
